:root {
 --color1 : #2C394B ;
 --color2 :#FFB740;
  --background: #fdfdfd;
  --body: #2C394B;
  --animation:rotation 20s infinite linear;
  --fontcolor: #2C394b;
  --fontcolor2:#0c1214;
}




body{
    margin: 0;
    background-color: var(--body);
}


.background {
    background-color: var(--background);
    width:650px;
    height: 600px;
    position: relative;
    display: inline-block;
    margin: 50px 30px 50px 60px;
   
    
}

.rotate{ 
 animation: var(--animation);
   width:650px;
    height: 450px;
    position: relative;
    right: 20px;

}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

input{
  width: 100px;
  height: 30px;
}

p{
  font-size: 20px;
  color: #f0eaf5;
}
button{
  width: 100px;
  height: 50px;
  border-radius: 10px;
  box-shadow: #2C394b;
  background-color: rgb(38, 56, 71);
  color: #f0eaf5;


}
button:hover{
  background-color: #256d85;
  color: #f0eaf5;
}

.inputText{
  display: inline-block;
  position: relative;
  margin-top: 20px;
  width: 400px;
  height: 100px;
  font-size: 60px;
}
.one{
    background-color: var(--color1);
    display: inline-block;
    width: 22px;
    height: 90px;
    left: 300px;
    top:50px;
    position: absolute;
		transform:rotate(45deg);
	}
    
    
.two{

    background-color: var(--color1);
    display: inline-block;
    width: 22px;
    height: 95px;
    left: 354px;
    top:45px;
    position: absolute;
		transform:rotate(-45deg);
	}

.three{

     background-color: var(--color2);
    display: inline-block;
    width: 22px;
    height: 74px;
    left: 294px;
    top:132px;
    position: absolute;
		transform:rotate(-45deg);
	}

.four{

     background-color: var(--color2);
    display: inline-block;
    width: 22px;
    height: 75px;
    left: 361px;
    top:131px;
    position: absolute;
	transform:rotate(45deg);
	}

.five{
        background-color: var(--color2);
    display: inline-block;
     width: 22px;
    height: 74px;
    left: 268px;
    top:157px;
    position: absolute;
		transform:rotate(-45deg);
   

}

.six{
  background-color: var(--color1);
    display: inline-block;
    width: 22px;
    height: 95px;
    left: 193px;
    top:154px;
    position: absolute;
	transform:rotate(45deg);
  

}

.seven {
       background-color: var(--color1);
    display: inline-block;
    width: 22px;
    height: 90px;
    left: 195px;
    top:211px;
    position: absolute;
	transform:rotate(135deg);

}

.eight {
         background-color: var(--color2);
    display: inline-block;
    width: 22px;
    height: 75px;
    left: 269px;
    top:225px;
    position: absolute;
		transform:rotate(45deg);
}

.nine {
     background-color: var(--color2);
    display: inline-block;
    width: 22px;
    height: 75px;
    left: 296px;
    top:249px;
    position: absolute;
	transform:rotate(45deg);

}

.ten{
      background-color: var(--color1);
    display: inline-block;
    width: 22px;
    height: 90px;
    left: 300px;
    top:315px;
    position: absolute;
	transform:rotate(135deg);
	}
    
.eleven{
     background-color: var(--color1);
    display: inline-block;
    width: 22px;
    height: 95px;
    left: 354px;
    top:315px;
    position: absolute;
	transform:rotate(45deg);
}

.twele{
      background-color: var(--color2);
    display: inline-block;
    width: 22px;
    height: 72px;
    left: 364px;
    top:250px;
    position: absolute;
		transform:rotate(135deg);
}

.thirteen{
    background-color: var(--color2);
    display: inline-block;
    width: 22px;
    height: 74px;
    left: 392px;
    top:226px;
    position: absolute;
		transform:rotate(-45deg);
}

.fourteen{
    background-color: var(--color2);
    display: inline-block;
    width: 22px;
    height: 75px;
    left: 391px;
    top:159px;
    position: absolute;
	transform:rotate(45deg);
}

.fifteen{
     background-color: var(--color1);
    display: inline-block;
    width: 22px;
    height: 95px;
    left: 466px;
    top:156px;
    position: absolute;
	transform:rotate(135deg);
}

.sixteen{
    background-color: var(--color1);
    display: inline-block;
    width: 22px;
    height: 90px;
    left: 466px;
    top:211px;
    position: absolute;
	transform:rotate(45deg);
}



.middle{
  display: inline-block;
  position: relative;
  left: 80px;
  bottom: 150px;

}

.middle p {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.Text {
  display: inline-block;
  position: relative;
  font-size: 60px;
  bottom: 30px;
  left: 180px;
 font-family: 'Bebas Neue', cursive;
 color: var(--fontcolor);
}

.subText{
   display: inline-block;
  position: relative;
  font-size: 20px;
  bottom: 60px;
  left: 230px;
  color:var(--fontcolor2);
  font-family: 'Teko', sans-serif;
}